astroid==3.2.4
attrs==22.1.0
colorama==0.4.6
dill==0.3.8
exceptiongroup==1.0.1
freezegun==1.5.1
iniconfig==1.1.1
isort==5.13.2
mccabe==0.7.0
packaging==21.3
platformdirs==4.3.6
pluggy==1.0.0
pylint==3.2.6
pyparsing==3.0.9
pytest==7.2.0
python-dateutil==2.9.0.post0
six==1.16.0
tomli==2.0.1
tomlkit==0.13.2
typing_extensions==4.12.2